$Col_op_fff:  #f0f1f3f2;
$Col_fff:  #fff;
$Col_ddd:  #f0f1f3;
$Col_op_50:  rgba(240, 241, 243, 0.493);
$Col_op_99:  rgba(240, 241, 243, 0.082);
$Col_000: #212529;
$Col_666: #666;
$Col_op_1: #000000ab;
$Col_op_2: #0000002c;
$Col_design: #ff9500;
$Col_design_2: #9c27b0;
$Col_error:  rgba(177, 35, 35, 0.884);
$Col_link: #237ffb;
marquee {
    background: #000;
    color: #ddd;
    margin-bottom: -6px;
}