@import './_colors.scss';

.one-katalog {
    .box-k-p {
        width: 90px;
        // margin: 15px;
        transition: all 500ms;

        img {
            width: 100%;
            cursor: pointer;
        }

        span {
            padding: 10px 0;
            width: 100%;
            text-align: center;

        }

        a {
            color: $Col_666;
            display: inline-block;
            text-align: center;
        }
    }

    .box-k-p:hover {
        transform: scale(1.3);
    }

    .d-flex {
        // border: solid;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}