@import './_colors.scss';

.view__products{
    ul.tovars {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        row-gap: 1em;
        column-gap: 1em;
    }
}

@media (max-width: 576px){
    .view__products ul.tovars {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        row-gap: 0em;
        column-gap: 0em;
    }
}